/* styles/Marquee.module.css */
.marqueeContainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .companyName {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.5rem;
  }
  